{%extends 'layout.html'%}

{% block tittle %}
Crear Producto
{% endblock %}

{%block main%}



<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5">
            <br/>

            <form action="/product/new" method='POST' class="card shadow">

                <div class="card-body">

                    <div class="form-floating mb-2">
                        <input type="text" name="producto_nombre" id="producto_nombre" placeholder='Nombre de Producto' class="form-control">
                        <label for="producto_nombre" class="">Nombre del Producto</label>
                    </div>

                    <div class="form-floating mb-2">
                        <input type="text" name="producto_proveedor" id="producto_proveedor" placeholder='Proveedor' class="form-control">
                        <label for="producto_proveedor">Proveedor</label>
                    </div>

                    <div class="form-floating mb-2">
                        <input type="text" name="producto_foto" id="producto_foto" placeholder='Archivo de foto' class="form-control">
                        <label for="producto_foto">Fotografía</label>
                    </div>

                    <div class="form-floating mb-2">
                        <input type="text" name="producto_caracteristicas" id="producto_caracteristicas" placeholder='Caracteristicas del producto' class="form-control">
                        <label for="producto_caracteristicas">Características</label>
                    </div>

                    <div class="container d-flex justify-content-center align-items-center">
                        <button type="submit" class="btn btn-primary">Registrar</button>
                    </div>

                </div>

            </form>
        </div>
        <div class="col-lg-7">
            <div> <!-- lista-->
                {% for product in products %}
                    <div>
                        <h5>{{ product.producto_nombre}}</h5>
                        <div>
                            <a href="{{ url_for('product.product_update', id=product.id) }}">Update</a> <!-- este href llama la función product_update-->
                            <a href="{{ url_for('product.product_delete', id=product.id) }}">Delete</a> <!-- este href llama la función product_delete-->
                        </div>
                        <p>{{ product.producto_proveedor }}</p>
                        <p>{{ product.producto_foto }}</p>
                        <p>{{ product.producto_caracteristicas }}</p>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>


{%endblock%}
{{super()}}