{%extends 'layout.html'%}

{% block tittle %}
Actualizar Producto
{% endblock %}

{%block main%}



<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <br/>
            
            <form action="/product_update/{{product.id}}" method='POST' class="card shadow">

                <div class="card-body">

                    <div class="form-floating mb-2">
                        <input type="text" name="producto_nombre" id="producto_nombre" placeholder='Nombre de Producto' class="form-control" value="{{product.producto_nombre}}">
                        <label for="producto_nombre" class="">Nombre del Producto</label>
                    </div>

                    <div class="form-floating mb-2">
                        <input type="text" name="producto_proveedor" id="producto_proveedor" placeholder='Proveedor' class="form-control" value="{{product.producto_proveedor}}">
                        <label for="producto_proveedor">Proveedor</label>
                    </div>

                    <div class="form-floating mb-2">
                        <input type="text" name="producto_foto" id="producto_foto" placeholder='Archivo de foto' class="form-control" value="{{product.producto_foto}}">
                        <label for="producto_foto">Fotografía</label>
                    </div>

                    <div class="form-floating mb-2">
                        <input type="text" name="producto_caracteristicas" id="producto_caracteristicas" placeholder='Caracteristicas del producto' class="form-control" value="{{product.producto_caracteristicas}}">
                        <label for="producto_caracteristicas">Características</label>
                    </div>

                    <div class="container d-flex justify-content-center align-items-center">
                        <button type="submit" class="btn btn-primary">Actualizar</button>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>

{%endblock%}
{{super()}}