{%extends 'layout.html'%}

{% block tittle %}
Crear Usuario
{% endblock %}

{%block main%}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5">
            <br/>
            <form action="/user/new" method='POST' class="card shadow">
                <center>
                    <h1>Usuario</h1>
                </center>
                <div class="card-body">

                    <div class="form-floating mb-2">
                        <input type="text" name="nombre" id="nombre" placeholder='Nombre' class="form-control">
                        <label for="nombre" class="">Nombre</label>
                    </div>

                    <div class="form-floating mb-2">
                        <input type="text" name="apellido" id="apellido" placeholder='Apellido' class="form-control">
                        <label for="apellido">Apellido</label>
                    </div>


                    <div class="form-floating mb-2">
                        <input name='email' type="email" class="form-control" placeholder="correo@ejemplo.com">
                        <label for="email">correo@ejemplo.com</label>
                    </div>

                    <div class="form-floating mb-2">
                        <input type="text" name="username" id="username" placeholder='Username' class="form-control">
                        <label for="username">Username</label>
                    </div>

                    <div class="form-floating mb-2">
                        <input type="password" class="form-control" name="password"  placeholder="Contraseña">
                        <label for="password">Contrasena</label>
                    </div>


                    <div class="form-floating mb-2">
                        <input type="number" name="celular" id="celular" placeholder='N° Celular' class="form-control">
                        <label for="celular" class="">N° Celular</label>
                    </div>

                    <div class="form-floating mb-2">
                        <select name="ciudad" id="ciudad" class="form-select">
                            <option disabled selected value="">Selecciona una ciudad</option>
                            <option value="Santiago">Santiago</option>
                            <option value="Valdivia">Valdivia</option>
                        </select>
                        <label for="ciudad" class=""></label>
                    </div>

                    <div class="container d-flex justify-content-center align-items-center">
                        <button type="submit" class="btn btn-primary">Registrar</button>
                    </div>

                </div>

            </form>

        </div>
        
        <div class="col-lg-7">
            {% for user in users %}
            <br/>
            <div class="card mb-1 text-white bg-dark">
                
                <div class="card-body">
                    
                    <div class="d-flex justify-content-between">
                        <h5>{{user.nombre}}</h5>
                        <div>
                            <a href="{{ url_for('user.user_update', id=user.id) }}" class="btn btn-dark btn-sm rounded-0">Update</a> <!-- este href llama la función product_update-->
                            <a href="{{ url_for('user.user_delete', id=user.id) }}" class="btn btn-danger btn-sm rounded-0">Delete</a> <!-- este href llama la función product_delete-->
                        </div>
                    </div>
                    <p>{{ user.apellido }}</p>
                    <p>{{ user.email }}</p>
                    <p>{{ user.username }}</p>
                    <p>{{ user.password }}</p>
                    <p>{{ user.celular }}</p>
                    <p>{{ user.ciudad }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{%endblock%}
{{super()}}